{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

<h1>Nos Recettes</h1>
    <ul>
    {% for recipe in recipes %}
        <strong><li><a href="{{ path('app_recipe_show', {'title': recipe.title }) }}">{{ recipe.title }}</a></li></strong>
    {% endfor %}
    </ul>
{% endblock %}
