<div class="homepage-banner">
    <div class="homepage-banner__image">
        <img src="{{ asset('media/cheese/image-banniere.jpg', 'shop') }}" alt="{{ 'sylius.homepage.banner_content'|trans }}">
    </div>
    <div class="homepage-banner__content" style="margin-bottom:300px !important;">
        <div>{{ 'sylius.homepage.banner_content'|trans }}</div>
        {# <a href="#" class="ui huge primary button">{{ 'sylius.homepage.banner_button'|trans }}</a> #}
    </div>
</div>
